<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>e-BookReader</title>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="css/style.css">
<link rel="icon" href="images/favicon-32x32.png" type="image/gif" sizes="16*16">


 
</head>
<body>
    
    
  <nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
    <img src="images/icon.jpg" height="40" width="40">
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link-light btn btn-outline-light" href="/">HOME</a>
        </li> 

        <% for(i=0;i<nav.length;i++){%>
        <li class="nav-item active ">
          <a class="nav-link-light btn btn-outline-light" href="<%=nav[i].link%>"><%=nav[i].name%><span class="sr-only">(current)</span></a>
        </li>
        <%}%>
      </ul>
          <form style="margin-right: 40px;">
            <% for(i=0;i<navSign.length;i++){%>
            <a class="btn btn-outline-light" href="<%=navSign[i].Link%>"><%=navSign[i].Name%> </a>
            <%}%> 
          </form>              
        </div>
       
      </nav>
     
    

      <h1>
        <div class="scroll-left ">
          <p>AUTHORS</p>
      </div>
    </h1>



<div class="card-deck">
    <div class="card">
      <img src="images/download1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">William Shakespeare</h5>   
        <p class="card-text">William Shakespeare was an English poet, playwright, and actor, widely regarded as the greatest writer in the English language and the world's greatest dramatist. He is often called England's national poet and the "Bard of Avon".</p>
        <a href="https://en.wikipedia.org/wiki/William_Shakespeare" class="btn btn-primary">See Profile</a>
      </div> 
    </div>
    <div class="card">
        <img src="images/download2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Charles Dickens</h5>        
          <p class="card-text">Charles John Huffam Dickens FRSA was an English writer and social critic. He created some of the world's best-known fictional characters and is regarded by many as the greatest novelist of the Victorian era.</p>
          <a href="https://en.wikipedia.org/wiki/Charles_Dickens" class="btn btn-primary">See Profile</a>
        </div> 
      </div>
      <div class="card">
        <img src="images/download3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Arundhati Roy</h5>
          <p class="card-text">Suzanna Arundhati Roy is an Indian author best known for her novel The God of Small Things, which won the Man Booker Prize for Fiction in 1997 and became the best-selling book by a non-expatriate Indian author. She is also a political activist involved in human rights and environmental causes.</p>
          <a href="https://en.wikipedia.org/wiki/Arundhati_Roy" class="btn btn-primary">See Profile</a>
        </div> 
      </div>
      <div class="card">
        <img src="images/download4.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Henry James</h5>
          <p class="card-text">Henry James OM was an American-British author regarded as a key transitional figure between literary realism and literary modernism, and is considered by many to be among the greatest novelists in the English language. </p>
          <a href="https://en.wikipedia.org/wiki/Henry_James" class="btn btn-primary">See Profile</a>
        </div> 
      </div>
  </div>
  <br>
  <br>

  <div class="card-deck">
    <div class="card">
      <img src="images/download5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Stephenie Meyer</h5>
        <p class="card-text">Stephenie Meyer is best known for authoring the Twilight book series, which was later adapted for a film franchise.</p>
        <a href="https://www.biography.com/writer/stephenie-meyer" class="btn btn-primary">See Profile</a>
      </div> 
    </div>
    <div class="card">
        <img src="images/download6.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Robert Bryndza</h5>
          <p class="card-text">Robert Bryndza began his career training at the Guildford School of Acting. He spent six years as an actor, doing all kinds of strange jobs in between, which was the perfect training for being an author.</p>
          <a href="https://robertbryndza.com/" class="btn btn-primary">See Profile</a>
        </div> 
      </div>
      <div class="card">
        <img src="images/download7.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Susan Hill</h5>
          <p class="card-text">Susan Hill, CBE (born 5 February 1942) is an English author of fiction and non-fiction works. Her novels include The Woman in Black, The Mist in the Mirror and I'm the King of the Castle for which she received the Somerset Maugham Award in 1971. </p>
          <a href="https://en.wikipedia.org/wiki/Susan_Hill" class="btn btn-primary">See Profile</a>
        </div> 
      </div>
      <div class="card">
        <img src="images/download8.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rachel Caine</h5>
          <p class="card-text">Rachel Caine is a pen name of Roxanne Longstreet Conrad, an American writer of science fiction, fantasy, mystery, suspense, and horror novels. She also publishes media tie-in novels as Julie Fortune.</p>
          <a href="https://en.wikipedia.org/wiki/Rachel_Caine" class="btn btn-primary">See Profile</a>
        </div> 
      </div>
  </div>
<br>
<br>

  <div class="card-deck">
    <div class="card">
      <img src="images/download9.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ernest Miller Hemingway</h5>
        <p class="card-text">Ernest Miller Hemingway was an American journalist, novelist, short-story writer, and sportsman. His economical and understated style—which he termed the iceberg theory—had a strong influence on 20th-century fiction, while his adventurous lifestyle and his public image brought him admiration from later generations.</p>
        <a href="https://en.wikipedia.org/wiki/Ernest_Hemingway" class="btn btn-primary">See Profile</a>
      </div> 
    </div>
    <div class="card">
        <img src="images/download10.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Leo Tolstoy</h5>
         <p class="card-text">Count Lev Nikolayevich Tolstoy, usually referred to in English as Leo Tolstoy, was a Russian writer who is regarded as one of the greatest authors of all time.</p>
         <a href="https://en.wikipedia.org/wiki/Leo_Tolstoy" class="btn btn-primary">See Profile</a>
        </div> 
      </div>
      <div class="card">
        <img src="images/download11.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">J.K. Rowling</h5>
          <p class="card-text">Joanne Rowling CH, OBE, HonFRSE, FRCPE, FRSL, better known by her pen name J. K. Rowling, is a British author, film producer, television producer, screenwriter, and philanthropist.</p>
          <a href="https://www.jkrowling.com/about/" class="btn btn-primary">See Profile</a>
        </div> 
      </div>
      <div class="card">
        <img src="images/download12.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Anton Pavlovich Chekhov</h5>
          <p class="card-text">Anton Pavlovich Chekhov was a Russian playwright and short-story writer who is considered to be among the greatest writers of short fiction in history. His career as a playwright produced four classics, and his best short stories are held in high esteem by writers and critics. </p>
          <a href="https://en.wikipedia.org/wiki/Anton_Chekhov" class="btn btn-primary">See Profile</a>
        </div> 
      </div>
  </div>

<br>
<br>

  <div class="spinner-grow text-muted "></div>
  <div class="spinner-grow text-primary "></div>
  <div class="spinner-grow text-success "></div>
  <div class="spinner-grow text-info "></div>
  <div class="spinner-grow text-warning "></div>
  <div class="spinner-grow text-danger "></div>
  <div class="spinner-grow text-secondary "></div>
  <div class="spinner-grow text-dark "></div>
  <div class="spinner-grow text-info "></div>
  <div class="spinner-grow text-warning "></div>
  <div class="spinner-grow text-danger "></div>
  <div class="spinner-grow text-light "></div>
  <div class="card w-100">
    
    <div class="card text-center">
        <div class="card-header">
           E-BookReader
        </div>
        <div class="card-body">
            <h5 class="card-title">Copyright © 2020.All Rights Reserved</h5>
           
           
        </div>
       
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="js/index.js"></script>

</body>
</html>